/* styles.css */
#toggle-btn {
    background: transparent;
    border: none;
    display: none;
}

.slider {
    width: 300px;
  }

  #json-display {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    font-family: monospace;
    white-space: pre-wrap;
    width: 1000px;
}